<div class="container">
  <h1>Item name: <%= @item.name %></h1>
  <p>Price per day: $<span id="price">12</span></p>

  <p id="widget" data-unavailable="<%= @item.unavailable_dates.to_json %>"></p>

  <%= simple_form_for [ @item, @booking ] do |f| %>
    <div class="form-row align-items-center">
      <div class="col-3 my-0">
        <%= f.input :start_date, as: :string, input_html: { id: 'start_date', class: 'my-0' }, label: false, placeholder: 'From' %>
      </div>
      <div class="col-3 my-0">
        <%= f.input :end_date, as: :string, input_html: { id: 'end_date', class: 'my-0' }, label: false, placeholder: 'To' %>
      </div>
      <div class="col-3 my-0">
        <%= f.submit "Book", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <p class="my-3">Your total for those dates is $<span id="calc-price"></span></p>

  <h4 class="my-3">Bookings:</h4>
  <% @bookings.each do |booking| %>
    <p>From: <%= booking.start_date %> to <%= booking.end_date %></p>
  <% end %>
</div>

